<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="6">
  <test  name="firefoxTest">
  <parameter name="mBrowser" value="firefox"></parameter>
    <classes>
      <class name="testScript.TestLancApp"/>
    </classes>
  </test> <!-- Test -->
  <test  name="chromeTest">
  <parameter name="mBrowser" value="chrome"></parameter>
    <classes>
      <class name="testScript.TestLancApp"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
